{% extends "master.html" %}
{% block title %}
    CoinBalance | Record a Payment
{% endblock %}
{% block content %}
<div class="row" style = "margin-top: 30px;">
  <div class="col-md-1"></div>
  <div class="col-md-10">
<div class="card" style = "margin-top: 30px; padding: 50px;" >
    <div class="card-header">
      <h5 class="title">Record Payment</h5>
    </div>
    <div class="card-body">
      <form action = "/savePayment/" method = "post" onsubmit = "return formCheck()">
        {% csrf_token %}
        <input type = "hidden" value = "{{gnum}}" name = "gnum">
        <div class="row">
          <div class="col-md-12 pl-1">
            <div class="form-group">
             
              <label>Payment Made By</label>
              <div>
              {% for member in memberList %} 
              <input type="radio" name = "payernum" autocomplete="off" value = "{{member.mnum}}" style = "margin-left: 5px;">&nbsp;{{member.name}}
              {% endfor%}
            </div>
            </div>
          </div>
        </div>
        <div class = "row">
          <div class="col-md-12 pl-1">
            <div class="form-group">
              <label>Payment Made To</label>
              <div>
              {% for member in memberList %} 
              <input type="radio" name = "receivernum" autocomplete="off" value = "{{member.mnum}}" style = "margin-left: 5px;">&nbsp;{{member.name}}
              {% endfor%}
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 pl-1">
              <div class="form-group">
                <label>Payment Amount</label>
                <input type="text" class="form-control" name = "amount" placeholder="Enter Payment Amount" autocomplete="off">
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pl-1">
              <div class="form-group">
                <label>Date of Payment</label>
                <input type = "date" class = "form-control" name = "pdate" autocomplete = "off">
              </div>
            </div>
        </div>
        <div style = "text-align: right">
        <button type = "submit" class = "btn btn-primary">Record Payment</button>
      </form>
        </div>
      </div>
      
    </div>
  </div>
  </div>
  {% endblock %}

{% block scriptBlock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function() {
      $('li').removeClass('active');
      $('#groups').addClass('active');
    });
    function formCheck(){
        if($('input[name=payernum]').val() == ""){
            alert("Please select the person who made the payment");
            $('input[name=payernum]').focus()
            return false;
        }
        if($('input[name=receivernum]').val() == ""){
            alert("Please select who the payment was made to");
            $('input[name=receivernum]').focus()
            return false;
        }
        if($('input[name=amount]').val() == ""){
            alert("Please enter the payment amount");
            $('input[name=amount]').focus()
            return false;
        }  
        if(isNaN($('input[name=amount]').val()) == true){
            alert("Please enter a valid numerical value for the payment.");
            $('input[name=amount]').focus()
            return false;
        }
        if($('input[name=pdate]').val() == ""){
            alert("Please enter the date of payment");
            return false;
        }
    }
</script>
{% endblock %}