{% extends "master.html" %}
{% block title %}
    CoinBalance | Groups
{% endblock %}


{% block content %}
<a href="{% url 'download_csv' %}" class="btn btn-primary">Download CSV</a>
  <div class="row" style = "margin-top: 30px;">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="card" style = "min-height: 500px;">
        <div class="card-header">
          <h4 class="card-title">All Expenses</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary" style = "color: #007bff">
                <th>
                  Expense Name
                </th>
                <th>
                  Expense Description
                </th>
                <th>
                  Expense Total
                </th>
                <th>
                  Paid By
                </th>
              </thead>
              <tbody>
                {% for expense in expenseList %}                
                <tr>
                  <td>
                    {{expense.ename}}
                  </td>
                  <td>
                    {{expense.edesc}}
                  </td>
                  <td>
                    {{expense.expenseTotal}} ({{expense.currency}})
                  </td>
                  <td>
                    {{expense.paidBy}}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>
    
{% endblock %}

{% block scriptBlock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function() {
      $('li').removeClass('active');
      $('#expenses').addClass('active');
    });
</script>
{% endblock %}